@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,900;1,900&family=Rubik&family=Solway:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
